/* Genio2003.tk CSS Style Sheet */

/* Google_Fonts */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v7/-F6qfjptAgt5VM-kVkqdyU8n3oQIwlBFgg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Default_Style*/

body {
	color: black;
    background: white;
	text-align: center;
}

header {
	margin-bottom: 100px;
}

nav {
	text-align: center;
	width: 100%;
}

footer {
	margin-top: 180px;
}

h1 {
	font-family: 'IBM Plex Mono';
}

h4 {
	font-family: 'IBM Plex Mono';
}

p {
	font-family: 'IBM Plex Mono';
}

ul {}

ul li {
	list-style: none;
	display: inline-block;
}

ul li p {
	font-family: 'IBM Plex Mono';
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	display: block;
}

ul li p:hover {
	text-decoration: underline;
}

.Footer_Links, .Footer_Links:hover, .Footer_Links:visited, .Footer_Links:active {
  color: inherit;
 }

#Figlet_Title {
	font-weight: bold;
}

#Emoji {
	font-size: 17px;
	margin-bottom: -6px;
	margin-right: -5px;
	margin-left: -5px
}

#Dark_Theme_Switch {
	border-radius:8px;
	border: 1px solid white;
}

/* - NOT IN USE! -

#Halloween_Theme_Switch {
	font-family:'IBM Plex Mono';
	color: black;
	background-color: #f56421;
	border-radius: 8px;
	border: 1px solid black;
}

*/

/* The_Mains! */

#Projects {
	
}

#Contacts {
	
}

/* Dark_Theme */

body.dark-theme {
	text-align: center;
	color: #eee;
    background: #121212;
}

/* Halloween_Theme */

body.halloween-theme {
	text-align: center;
	color: #f56421;
    background: #121212;
}